body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes up the full height of the screen */
    background-image: url('https://raw.githubusercontent.com/dandan-187/ALVIN/main/BGS2.jpg');
    background-size: cover; /* Makes the image cover the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
